.footer {
    display: flex;
    justify-content: space-between;
    background-color: white; 
    color: #333;
    padding: 20px;
    font-size: 16px;
    flex-wrap: wrap; 
    border-top: 1px solid #eaeaea; 
  }
  
  .footer-column {
    flex: 1;  
    max-width: 20%; 
    padding: 0 10px;
    box-sizing: border-box; 
    
  }
  .site-footer {
    font-family: 'Arial', sans-serif; 
    color: #000; 
    font-size: 15px; 
    text-align: center; 
    padding: 20px 2px 5px 100px; 
    position: relative; 
    width: 100%; 
    border-top: 1px solid #eaeaea; 
  }
  
  @media (max-width: 1024px) {
    .footer-column {
      max-width: 25%; 
    }
  }
  
  @media (max-width: 768px) {
    .footer {
      justify-content: center;
    }
    
    .footer-column {
      max-width: 50%;
      margin-bottom: 30px; 
    }
  }
  
  @media (max-width: 480px) {
    .footer-column {
      max-width: 100%; 
    }
    .site-footer {
      font-size: 10px; 
      padding: 5px 0; 
    }
  }
