
.product-container {
    display: flex;
    align-items: center; 
    padding-left: -20px;
    background-color: rgb(255, 255, 255);
    
    

 
  }
  
  .card-items{
    margin-right:20px;
    margin-top: 100px;
    scale: 0.88;
  
    

    
  }
  
  .cricket-bat-image {
    width: min-content;
    height: 500px;
    margin-right: 20px; 
    margin-top: -120px;
    object-fit: cover;
    stroke: #000000;
   
    

 
  }


  .product-info {
    display: flex;
    flex-direction: column;
    
  }
  
  .category-info h1 {
    font-size: 15px;
    color: #635d5d;
    margin-bottom: 8px; 
    
}  
  .cricket-bat-info {
    font-size: 24px;
    color: #000000;
  }

  h2 {
    margin: 0;
    
  }
  .price-container{
   display: flex;
  flex-direction: row;

  }
  .price {
    font-size: 24px;
    color: #050505;
    margin: 10px 0;
    margin-top: 10px;
  }
  span{
    color: #8a8181;
  }
  .original-price {
    margin-left: 10px;
    text-decoration: line-through;
  }
  .save-price{
    color: #f70b0b;
    margin-left: 10px;

  }
  
  .add-to-basket-btn {
  background: rgb(112, 99, 99);
  color: white;
  border: 1px solid #ccc; /* Adds a solid gray border */
  padding: 20px 150px;
  cursor: pointer;
  margin-top: 10px; 
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 0px;
  border-radius: 5px;
  background: linear-gradient(to right, #554f4f, #000000); /* Creates a gradient background */
  color: white;
    
  }
  
  .add-to-basket-btn:hover {
    background: #5e5858;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .payment-methods {
    display: flex;
    color: #1f1e1e;
    flex-direction:column;
    margin-bottom: -100px;
    position:sticky;
    scale: 0.6;
    align-items: normal;
    
  }
  .payment-methods img {
    margin-bottom: 3;
    width: 200px; 
     
    
  }