
.checkout-page {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: normal; 
  background-color: white; 
  padding-top: 20px; 
}

.checkout-heading {
  color: black;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 48px; 
  word-wrap: break-word;
  text-align: left;
  margin-left: 20px; 
  margin-bottom: 20px; 
}

.checkout-content {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  display: flex; 
  justify-content: center; 
  padding: 10px;
  margin-right: 20px auto; 
  margin-left: 20px auto;
  margin-top: 0px;
  margin-bottom:5px;
  cursor: pointer;
}

.checkout-button-1 {
  margin-left: 50xpx; 
  margin-top: 10px;
  border-radius: 20px;
  background-color: grey;
  color: white;
  border: 1px solid transparent; 
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;

   
}
.checkout-button-1:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15); 
  border: 1px solid black;
  background-color: #cf3c3c;
}

.checkout-button-2 {
  margin-left: 250px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: grey;
  color: white;
  border: 1px solid transparent; 
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.checkout-button-2:hover {
  background-color: #cf3c3c;
}