
.checkout-page {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: normal; 
  background-color: white; 
  padding-top: 20px; 
}

.checkout-heading {
  color: black;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 48px; 
  word-wrap: break-word;
  text-align: left;
  margin-left: 20px; 
  margin-bottom: 20px; 
}

.checkout-content {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Aligns buttons to the center */
  padding: 10px;
  margin-right: 20px auto; /* Controls the margin around the entire container */
  margin-left: 20px auto;
  margin-top: 0px;
  margin-bottom:5px;
  cursor: pointer;
}

.checkout-button button {
  margin: 0 150px; /* Large horizontal margin, no vertical margin */
}

.checkout-button button:first-child {
  margin-right: 150px; /* Ensures right margin on the first button */
  margin-left: 0; /* No left margin on the first button */
}

.checkout-button button:last-child {
  margin-left: 150px; /* Ensures left margin on the last button */
  margin-right: 0; /* No right margin on the last button */
}
