/* .container-main Need adjustment for responsiveness*/
/*  margin-left: 750px;
  margin-top: -200px; 
  This is not a proper way to style in css, but was necessary becaue we couldn't
  find the problem
  */

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 750px;
  margin-top: -200px;

}


h2 {
  color: black;
  font-size: 33px;
  line-height: 26px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif; 
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.signup-form {
  width: 100%;
  max-width: 600px; 
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px rgba(50, 50, 50, 0.15);
}

.signup-input-container {
  width: 400px; 
  height: 50px;
  margin-bottom: 50px;
  
}

.signup-input-container input {
  width: 100%; 
  height: 100%;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}

.signup-button {
  padding: 10px 20px; 
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s, border 0.3s, background-color 0.3s;
  outline: none;
}

.signup-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  background-color: transparent;
}

.signup-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
  border: 1px solid black;
  background-color: black; 
  color: white;
}

.signup-message {
  color: red; 
  background-color: darkblue;
  font-size: 10px;
  margin-top: 20px; 
}


@media (max-width: 768px) {
  .modal-content {
    width: 100%; 
  }

  .modal-header h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%; 
  }

  .modal-button {
    padding: 15px 20px; 
  }

  .close-modal {
    font-size: 30px;
  }
}
