.cart-summary {
  width: 35%; /* Adjust width as necessary */
  margin-top: 5%; /* Adjust for desired height */
  margin-right: 20px; /* Aligns to the right */
  min-height: 120vh;
  text-align: center;
  position: absolute; /* Makes the div position relative to the nearest positioned ancestor */
  right: 0; /* Aligns the div to the right edge of the ancestor element */
}

.cart-summary h4 {
  font-weight: bolder;
}

.cart-summary .summary-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cart-summary .discount {
  text-align: right; 
  color: green;
}

.cart-summary button {
  display: block; /* Make the button full width */
  margin: 20px auto; /* Center button horizontally */
  padding: 10px;
  background: #80808070;
  color: black;
  border: none;
  cursor: pointer;
}

.cart-summary img {
  width: 50%; /* Adjust to your preference, e.g., 50% of the container width or a fixed width like 200px */
  margin-top: 20px;
  margin-bottom: 20px; /* Optional: Adds some space below the image */
  height: auto; /* Maintains the aspect ratio */
}
