@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
.login-page-cont {
  font-family: sans-serif;
    color: black;
    width: 100vw;
    height: 100vh;
    display: flex; 
    position:fixed;
    background-color: transparent;
    backdrop-filter: blur(4px); 
    z-index: 1000;
    border: 100% transparent;
  }
  
  .login-page-cont .right-cont {
    width: 30%;
    min-height: 100vh;
    max-width: 40vw;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: transform 1.0s ease;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}
.login-page-cont .right-cont > .upperDiv1 {
  width: 95%;
  display: flex ;
  flex-direction: row ;
  justify-content: space-between !important;
  align-items: center;
}

.login-page-cont .right-cont .para1{
  text-align: left !important;

  width: 100%;
}
.login-page-cont .right-cont .right-cont-inner {
  transform: translateX(100%);
}

.login-page-cont .right-cont.show {
  transform: translateX(0); 
}

.login-page-cont .right-cont.show .right-cont-inner {
  transform: translateX(0); 
}

.login-page-cont .right-cont form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.login-page-cont .right-cont form input{
    padding: 20px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.349);
    border: none;
    border-radius: 10px;
}
.login-page-cont .right-cont .btns-cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.login-page-cont .right-cont .btns-cont button {
    width: auto; 
    color: white;
    padding: 15px; 
    font-size: 0.9rem; 
    border-radius: 22px;
    border: none;
    margin-right: 10px; 
    cursor: pointer; 
    background-color: rgba(128, 128, 128, 0.939); 
}

.login-page-cont .right-cont .btns-cont .btn1{
    background-color: rgba(128, 128, 128, 0.939);
}


.login-page-cont .right-cont .btns-cont .btn2{
    background-color: rgb(96, 91, 91);
}


.login-page-cont .lowerDiv2{
  width: 95% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
@media (max-width: 1024px) {
  .login-page-cont .right-cont {
      max-width: 100%;
      
  }
}

@media (max-width: 768px) {
  .login-page-cont .right-cont {
      max-width: 100%;
  }

  .login-page-cont .right-cont form input,
  .login-page-cont .right-cont .btns-cont button {
      padding: 15px;
      
  }
}

@media (max-width: 480px) {
  .login-page-cont .right-cont {
      width: 90%;
      max-width: none;
    
    
      
  }

  .login-page-cont .right-cont form input,
  .login-page-cont .right-cont .btns-cont button {
      padding: 12px 20px;
  }
}