.terms-page {
 
    margin: 57px auto; 
    padding: 20px;
    background-color: #fff; 
    max-width: 100%; 
  }
  
  .terms-page h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; 
    color: #333; 
    font-size: 2em; 
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }
  
  .terms-page h2 {
    font-size: 1.1em; 
    margin-top: 30px; 
    margin-bottom: 20px; 
    text-align: left;
  }
  
  .terms-page p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1em; 
  }
  
  @media (max-width:2000px) {
    .terms-page {
        margin: 77px auto;
      padding: 15px;
      max-width: 100%; 
    }
  
    .terms-page h1 {
      margin-bottom: 20px; 
      font-size: 1.5em; 
    }
  
    .terms-page h2 {
      margin-top: 20px; 
      font-size: 1.2em; 
    }
  }
  
  @media (max-width: 412px) {
    .terms-page h1 {
      font-size: 1.5em; 
      margin-top: 100px;
    }
  
    .terms-page h2 {
      font-size: 1em; 
    }
  
    .terms-page p {
      text-align: left; 
    }
  }
  